<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UsersSearchServlet</display-name>
    <servlet-name>UsersSearchServlet</servlet-name>
    <servlet-class>Servlet.UsersSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersSearchServlet</servlet-name>
    <url-pattern>/UsersSearchServlet</url-pattern>
  </servlet-mapping>
  <display-name>Library2026_ProjectF</display-name>
  <welcome-file-list>
    <welcome-file>login/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsersMainServlet</display-name>
    <servlet-name>UsersMainServlet</servlet-name>
    <servlet-class>Servlet.UsersMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersMainServlet</servlet-name>
    <url-pattern>/UsersMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersRegistServlet</display-name>
    <servlet-name>UsersRegistServlet</servlet-name>
    <servlet-class>Servlet.UsersRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersRegistServlet</servlet-name>
    <url-pattern>/UsersRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersUpdateServlet</display-name>
    <servlet-name>UsersUpdateServlet</servlet-name>
    <servlet-class>Servlet.UsersUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersUpdateServlet</servlet-name>
    <url-pattern>/UsersUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksRegistServlet</display-name>
    <servlet-name>BooksRegistServlet</servlet-name>
    <servlet-class>f03_book.servlet.BooksRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksRegistServlet</servlet-name>
    <url-pattern>/BooksRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksMainServlet</display-name>
    <servlet-name>BooksMainServlet</servlet-name>
    <servlet-class>f03_book.servlet.BooksMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksMainServlet</servlet-name>
    <url-pattern>/BooksMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearchServlet</display-name>
    <servlet-name>BookSearchServlet</servlet-name>
    <servlet-class>f03_book.servlet.BookSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchServlet</servlet-name>
    <url-pattern>/BookSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksUpdateServlet</display-name>
    <servlet-name>BooksUpdateServlet</servlet-name>
    <servlet-class>f03_book.servlet.BooksUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksUpdateServlet</servlet-name>
    <url-pattern>/BooksUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OverServlet</display-name>
    <servlet-name>OverServlet</servlet-name>
    <servlet-class>f09_over.servlet.OverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverServlet</servlet-name>
    <url-pattern>/OverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquiryManagementServlet</display-name>
    <servlet-name>InquiryManagementServlet</servlet-name>
    <servlet-class>f08_inquiry.servlet.InquiryManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquiryManagementServlet</servlet-name>
    <url-pattern>/InquiryManagementServlet</url-pattern>
  </servlet-mapping>
</web-app>