<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UsersSearchServlet</display-name>
    <servlet-name>UsersSearchServlet</servlet-name>
    <servlet-class>Servlet.UsersSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersSearchServlet</servlet-name>
    <url-pattern>/UsersSearchServlet</url-pattern>
  </servlet-mapping>
  <display-name>Library2026_ProjectF</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsersMainServlet</display-name>
    <servlet-name>UsersMainServlet</servlet-name>
    <servlet-class>Servlet.UsersMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersMainServlet</servlet-name>
    <url-pattern>/UsersMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersRegistServlet</display-name>
    <servlet-name>UsersRegistServlet</servlet-name>
    <servlet-class>Servlet.UsersRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersRegistServlet</servlet-name>
    <url-pattern>/UsersRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersUpdateServlet</display-name>
    <servlet-name>UsersUpdateServlet</servlet-name>
    <servlet-class>Servlet.UsersUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersUpdateServlet</servlet-name>
    <url-pattern>/UsersUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>